<h1>{{ entity }} creation</h1>

<form action="{{ "<?= $view['router']->generate( '"~ route_name_prefix ~"_edit' ) ?>" }}" method="post">
    {{ "<?= $view['form']->widget($form) ?>" }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

{% set hide_edit, hide_delete = true, true %}
{% include 'views/others/record_actions.html.twig' %}
